/* styles/Carrousel.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.promotions-container {
  text-align: center;
  margin: 20px auto;
  max-width: 1500px;
  font-family: 'Poppins', sans-serif; /* Fonte moderna */
}

.promotions-container h2 {
  font-size: 2rem; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-bottom: 30px;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none;
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
  border: none;
  border-radius: 15px; /* Bordas mais arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.promotion-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  background: #ffffff; /* Fundo branco */
  border-radius: 15px; /* Bordas arredondadas */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.promotion-image {
  width: 100%;
  height: 500px; /* Altura ajustada */
  object-fit: cover;
  border-radius: 15px; /* Bordas arredondadas */
  margin-bottom: 15px;
}

.btn-offer {
  display: inline-block;
  padding: 12px 24px; /* Padding ajustado */
  margin-top: 10px;
  background-color: #4caf50; /* Cor de fundo */
  color: white;
  text-decoration: none;
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.btn-offer:hover {
  background-color: #388e3c; /* Cor ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.3s; /* Suaviza a transição */
  border-radius: 50%; /* Botões arredondados */
}

.carousel-button.prev {
  left: 10px; /* Ajuste de posição */
}

.carousel-button.next {
  right: 10px; /* Ajuste de posição */
}

.carousel:hover .carousel-button {
  opacity: 1; /* Mostra as setas ao passar o mouse */
}

@media (max-width: 600px) {
  .promotion-image {
    height: 300px; /* Ajuste para telas menores */
  }

  .btn-offer {
    padding: 10px 20px;
  }
}
