/* styles/Navbar.css */

.navbar {
  font-family: acumin-pro, system-ui, sans-serif;
  background-color: #fff; /* Background branco */
  padding: 10px 20px; /* Espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
  font-size: 1.2rem; /* Tamanho da fonte */
  display: flex; /* Exibe os itens em linha */
  justify-content: space-between; /* Espaçamento entre logo e links */
  align-items: center; /* Alinha os itens verticalmente */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px; /* Tamanho da imagem do logo */
  margin-right: 10px; /* Espaçamento à direita */
}

.logo-title {
  font-weight: bold; /* Texto em negrito */
}

.navbar-nav {
  list-style-type: none; /* Remove marcadores da lista */
  display: flex; /* Exibe os itens em linha */
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
}

.nav-item {
  margin-right: 20px; /* Espaçamento entre os itens */
}

.nav-link {
  color:  #2e6630; /* Cor do texto padrão */
  text-decoration: none; /* Remove sublinhado */
  position: relative; /* Posição relativa para o indicador ativo */
  transition: color 0.3s ease; /* Transição de cor */
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #4CAF50; /* Cor do indicador */
  position: absolute;
  bottom: -5px; /* Posicionamento abaixo do texto */
  left: 0;
  transition: width 0.3s ease; /* Transição para o indicador */
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%; /* Indicador ativo com largura total */
}

.btn-logout {
  background-color: transparent;
  border: none;
  color: #333; /* Cor do texto padrão */
  cursor: pointer;
  font-size: 1.2rem; /* Tamanho da fonte */
  transition: color 0.3s ease; /* Transição de cor */
}

.btn-logout:hover {
  color: #4CAF50; /* Cor mais escura ao passar o mouse */
}
