*{
  font-size: large;
  font-weight: 700;
}

.navbar {
  background-color: #ffffff;
  color: #105706;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #105706;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #105706;
  text-decoration: none;
  padding: 8px 12px;
}

.nav-link:hover {
  background-color: #e0f2f1;
  border-radius: 5px;
}

.btn-logout {
  background: none;
  border: none;
  color: #105706;
  cursor: pointer;
  padding: 8px 12px;
  text-decoration: none;
}

.btn-logout:hover {
  background-color: #e0f2f1;
  border-radius: 5px;
}
