/* src/styles/Product.css */
.products-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
  }
  
  .product-card h3 {
    margin-bottom: 10px;
  }
  
  .product-card img {
    max-width: 100%; /* Ajusta a largura da imagem para ocupar no máximo o tamanho do elemento pai (.product-card) */
    height: auto; /* Mantém a proporção da imagem */
  }
  