.products-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 200px; 
  margin-left: auto; 
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px; 
}

.search-bar i {
  padding: 5px;
  color: #888;
  cursor: pointer;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}


.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card .quantity-input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product-card .quantity-input {
  width: 75px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.product-card .add-to-cart-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #218838;
}