.support-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.support-container form {
  display: flex;
  flex-direction: column;
}

.support-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.support-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.support-container button:hover {
  background-color: #0056b3;
}

.faq-section {
  margin-top: 20px;
  text-align: left;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.faq-question:hover {
  background-color: #e0f2f1;
}

.faq-answer {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: none;
}
.btnVoltar{
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #4caf50; /* Cor verde para o botão */
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Transição suave */
}
.btnVoltar:hover{
  cursor: pointer;
  background-color: #0a3d04;
}
