/* src/App.css */
body {
  background-color: #e0f2f1; /* Cor verde claro desejada */
  margin: 0; /* Remove margens padrão do body */
  padding: 0; /* Remove preenchimentos padrão do body */
  font-family: Arial, sans-serif; /* Escolha a fonte desejada */
}

.App {
  margin: 20px;
}

.content {
  margin-top: 20px;
}
