/* Adicione este estilo ao seu App.css ou ao arquivo CSS principal */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #78ffd6, #a8ff78); /* Gradiente de verde e azul */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  min-height: 100vh;
}

.content {
  padding: 20px;
}

.form-container,
.support-container,
.product-card,
.faq-item,
.home-container,
.promotions-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
